name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          release-type: go
  notify-push:
    needs: release-please
    if: ${{ !needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - name: Send Push Notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ job.status }}
          title: "New Commit on main"
          description: |
            **Message:** ${{ github.event.head_commit.message }}
            **Link:** [${{ github.sha }}](${{ github.event.head_commit.url }})
          color: 0x3498db
  notify-release:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - name: Send Release Notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          title: "Released ${{ needs.release-please.outputs.tag_name }}"
          description: ${{ needs.release-please.outputs.body }}
          color: 0x2ecc71